<form role="form" class="well well-sm animate-if" name="myForm" ng-submit='formSubmit()' novalidate>
	<!--ng-if="$parent.form"-->
	<h4>{{formInfo.operation}} application form:</h4>
	<h5>{{formInfo.documentation}}</h5>
	<div class="form-inline ">
		<div class="form-group well-sm" ng-repeat="inputI in formInfo.forms[1].imputsInfo">
			<label class="control-label text-primary " for="input_{{inputI.name}}" >{{inputI.name}}:</label>

			<div ng-class="{'has-error': myForm[inputI.name].$invalid, 'has-success': !myForm[inputI.name].$invalid}">
				<input class="form-control" id="input_{{inputI.name}}"
				aria-describedby="helpBlock_{{inputI.name}}" name="{{inputI.name}}" type="{{inputI.type}}"
				ng-model='formInfo.forms[1].defaultResp[inputI.name]' ng-required="{{inputI.required}}" >
				<!--ng-pattern="input.format" respForm[inputI.name]  -->
				</input>

				<div ng-if='myForm[inputI.name].$invalid' role="alert" ng-messages= 'myForm[inputI.name].$error'>
					<div ng-messages-include="app/miriade/templates/erreurs.html"></div>
				</div>
			</div>

			<!--<span class="help-block text-info" id="helpBlock_{{inputI.name}}" >{{inputI.description}}</span>-->
		</div>
	</div>
	<!--<pre>respForm = {{respForm | json}}</pre>-->
	<div class="btn-group " role="group" >
		<input class="btn btn-sm btn-primary bordered" ng-click='backToOperations()' value="Back to operations" />
		<input class="btn btn-sm btn-primary bordered" ng-click="resetForm()" value="Reset form" />
		<input class="btn btn-sm btn-primary bordered" type="submit" value="Send {{formInfo.operation}} request" ng-disabled="myForm.$invalid"/>
	</div>
</form>
