<div class="animate-if table-responsive">
	<table class="table table-bordered bg-success">
		<caption>
			{{webServiceInfo.name}} Web Service
		</caption>
		<thead>
			<tr>
				<th>Operation</th>
				<th>Documentation</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="operation in webServiceInfo.operations">
				<td class="text-danger btn btn-sm " ng-click='operationRequest(operation.name)'><strong>{{operation.name}}</strong></td>
				<td class="text-info" >{{operation.documentation}}</td>
			</tr>
		</tbody>
	</table>
</div>